* { 
    padding: 0; 
    margin: 0; 
}

.wrapper { 
    width: 100%;
}

#title {
 font-size: 60px;
 margin: 20px; 
 text-decoration: none;
 color: black; 

}

#button { 
  
    border: solid 2px black;
    background-color: cadetblue;
    font-size: 25px;
    margin-left: 20px; 
    padding: 7px 15px 7px 15px; 
    color: white; 
    text-decoration: none;
    border-radius: 3px;

}

#login { 
    color: black; 
    float: right; 
    padding: 5px 25px; 
}

iframe { 
    padding: 50px 20px; 
}

#home-form { 
    float: right; 
    padding: 50px 215px 0px 0px; 
    font-size: 20px;
}

#register-form { 
    margin: 100px; 
    text-align: center;
    font-size: 20px;
}

.home-submit { 
    font-size: 20px;
    background-color: cadetblue;
    color: white; 
    padding: 15px 40px 15px 40px; 
    border: solid 2px black;
    border-radius: 3px;
  
}

.login-submit { 
    font-size: 15px;
    background-color: cadetblue;
    color: white; 
    padding: 15px 50px 15px 50px; 
    border: solid 2px black;
    border-radius: 3px;
}



